.bio {
    background-color: #a070a1;

}

.arson {
    color: rgb(27, 15, 15);
    font-family: poppins, sans-serif;
    text-align: center;
    border: 0.1px solid;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px auto;
    max-width: 90%;
    font-size: large;
    background-color: #6c757d;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .025em;
    line-height: 1.7em;
}


.github,
.linkedin {
    color: rgb(212, 198, 212);
    text-decoration: none;
}

.email {
    color: rgb(196, 189, 178);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

.github {
    padding-right: 20px;
    padding-left: 10px;
}

.linkedin {
    padding-left: 20px;
}

.email:hover {
    color: rgb(235, 89, 45);

}

.github:hover {
    color: black;
    transition-duration: 2s;

}

.linkedin:hover {
    color: rgb(21, 21, 105);
}



p {
    color: black;
    font-family: Georgia, 'Times New Roman', serif;
    text-align: justify;
    font-size: medium;
}

footer {
    color: black;
}

#personal {
    font-weight: 150;
}

#Experience {
    text-transform: uppercase;
}

#tv {
    font-size: larger;
}

#position {
    font-size: small;
    font-weight: lighter;

}

table {
    border: 1px dashed black;
}

td {
    border: 1px solid rgb(255, 255, 255);
}

#heading {
    font-weight: bold;
}

#course-name {
    font-weight: bold;
}