.bio {
    background-color: #d289d3;

}


*{
    box-sizing: border-box;

}
body{
    margin: 0px;
    overflow: none;
    height: 100vh;
}
.details{
    margin: 10px;
}

.arson {
    color: rgb(41, 2, 2);
    font-family:New Century Schoolbook,serif;
    text-align: center;
    border: 0.1px solid;
    border-radius: 10px;
    background-color: #9da3a8;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    max-width: 90%;
    font-size: large;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: .025em;
    line-height: 1.6em;

}


.github,
.linkedin {
    color: rgb(65, 6, 65);
    text-decoration: none;
}

.email {
    color: rgb(247, 209, 149);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
}

.github {
    padding-right: 20px;
    padding-left: 10px;
}

.linkedin {
    padding-left: 20px;
}

.email:hover {
    color: rgb(250, 146, 115);

}

.github:hover {
    color: rgb(212, 238, 65);
    transition-duration: 1s;

}

.linkedin:hover {
    color: rgb(248, 248, 252);
    transition-duration: 1s;
}



p {
    color: black;
    font-family: Georgia, 'Times New Roman', serif;
    text-align: left;
    font-size: medium;
    padding: auto;
}

footer {
    color: black;
}

#personal {
    font-weight: 150;
    margin-top: 5px;
    margin-left: 1px;
}

#Experience {
    text-transform: uppercase;
        margin-left: 1px;
}

#tv {
    font-size: larger;
}

#position {
    font-size: small;
    font-weight: lighter;

}

#schoollife{
    overflow: hidden;
}

table {
    border: 1px dashed black;
     margin-left: 1px;
}

td {
    border: 1px solid rgb(255, 255, 255);
}

#heading {
    font-weight: bold;
        margin-top: 0px;
}

#course-name {
    font-weight: bold;
    margin-left: 1px;
}

#balloon{
    text-align: center;
}